nRF5_SDK_15.2.0_9412b96/
components/
external/
modules/
integration/
license.txt
nRF5x_MDK_8_17_0_IAR_NordicLicense.msi
nRF5x_MDK_8_17_0_Keil4_NordicLicense.msi
documentation/
external_tools/
projects/peripheral/
projects/ble_over_uart/ble_app_uart/pca10040/s132/ses/Output/nrf52832_bno055_ble_s132 Release/
.gitignore.rej
examples/
lib/.vscode/c_cpp_properties.json
lib/.vscode/settings.json
.vscode/settings.json
config/nrf52810/armgcc/generic_gcc_nrf52.ld
config/nrf52810/config/sdk_config.h
config/nrf52810/ses/flash_placement.xml
config/nrf52832/armgcc/generic_gcc_nrf52.ld
config/nrf52832/config/sdk_config.h
config/nrf52832/ses/flash_placement.xml
config/nrf52840/armgcc/generic_gcc_nrf52.ld
config/nrf52840/config/sdk_config.h
config/nrf52840/ses/flash_placement.xml
examples - Copy/ble_peripheral/ble_app_uart/pca10040/s132/ses/Output/
project/ble_peripheral/ble_app_uart/pca10040/s132/ses/Output/
